<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>

<div class="container">
  	<div class="row justify-content-md-center">
    	<div class="col-6">
			<ul class="list-group">
				{% for tiempo in current_date %}
			  		<li class="list-group-item">{{ tiempo.humedad }}-{{ tiempo.direccion }}</li>
			  	{% endfor %}
			</ul>

		</div>
	</div>
</div>





</body>




</html>
